@media screen and (max-width: 600px) {
    .directionsDiv, .header-form-wrap, .tv-container{
        display: none;
    }
    #search-video {
        display: inline;
        width: 125px;
        font-size: 12px;
    }
    #search-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 37px;
        width: 40px;
        border-left: 0px;
        border-radius: 0px;
        background: #ffffff;
        background-image:  url(https://image.flaticon.com/icons/svg/149/149309.svg);
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    .video-info {
        display: none;
    }
    #topDiv, #bottomDiv, #centerDiv {
        display: none;
    }
    #remote {
        display: block;
        width: 100%;
        margin-top: 100px;
    }
    #buttons-div {
        width: 200px;
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: 
        "power home"
        "down up"
        "info info";
        margin: auto;
    }
    .remote-btn {
        /*padding: 10px;*/
        text-align: center;
        text-decoration: none;
    }
    .remote-btn-icon {
        width: 75px;
    }
    .power-button {
        grid-area: power;
    }
    .home-button {
        width: 77px;
        height: 77px;
        grid-area: home;
        background: #ffff00;
        border: 0.1px solid #000000;
        border-radius: 50%;
    }
    .channel-down {
        grid-area: down;
    }
    .channel-up {
        grid-area: up;
    }
    .info-button {
        grid-area: info;
        justify-content: center;
    }
    a:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 601px) and (max-width: 760px) {
    .header {
        font-size: 36px !important;
    }
    #search-video {
        width: 400px !important; 
    } 
}

form {
    display: block !important;
}